<h1>Listing recipes</h1>

<!-- FILTER -->
<!-- END FILTER -->
<!-- INDEX -->
<% @recipes.each do |recipe| %>
	<div class="recipe">
		<div class="recipe-left">
			<p><%= link_to recipe.name, recipe %></p>
			<a src="#"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/vladarbatov/128.jpg"></a>
		</div>
		<div class="recipe-right">
			<a src="#"><img src="http://lorempixel.com/output/food-q-c-640-480-3.jpg"></a>
		</div>
	</div>
	<div class="line-separator"></div>
<% end %>
<!-- END INDEX -->
