<div class="recipe-excerpt">
	<div class="photo">
		<%= link_to image_tag("https://s3.amazonaws.com/uifaces/faces/twitter/chandlervdw/128.jpg"), chef %>
	</div>
	<div class="info">
		<h3><%= link_to chef.login, chef %></h3>
		<p><%= pluralize(chef.recipes.count, "receta", "recetas") %></p>
		<p>Plato estrella: <%= link_to(chef.recipes.first.name, chef.recipes.first ) if chef.recipes.length > 0%></p>
	</div>
	<div class="rating">
		<h2>0.0</h2>
	</div>
</div>
