
<div class="left-form">
	<div class="block-filter">
		<h3>Filtros de búsqueda</h3>
		<div class="widget">
			<h4>Nombe</h4>
			<%= text_field_tag "name", nil%>
		</div>
		<div class="widget">
			<h4>Valoración</h4>
			<%= text_field_tag "evaluation", nil%>
		</div>
		<div class="widget">
			<h4>Receta</h4>
			<%= text_field_tag "recipe", nil%>
		</div>
	</div>
	<div class="block-results">
		<h1>Nuestros chefs</h1>
		<div class="results">
			<% if @chefs.length == 0 %>
			<h3 class="no-results">Ups! La cocina está sola :(</h3>
			<% else %>
				<% @chefs.each do |chef| %>
					<%= render partial: 'chef', locals: {chef: chef} %>
				<% end %>
			<% end %>
	</div>
</div>