<li>
    <a href="<%= url_for :controller => 'recipes', :action => 'show', :id => plato.id %>">
        <img src="http://lorempixel.com/output/food-q-c-200-200-4.jpg" class="primero">
        <p><%= plato.name %></p>
    </a>
</li>