/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require flexslider
 *= require_self
 *= require_tree .
 */

/* COLORES (http://www.colourlovers.com/palette/1631533/baked_scandals)
    Azul claro: #39D4F2
    Azul oscuro (hover): #2194A7
    Gris (links?): #8D9389
    Rojo (errores): #EC7063
    Verde (noticia): #87F0BA
    Amarillo (warning): #FCEA85
*/
*{
    margin:0;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    background-image: url('bg-main.png');
    min-width: 1080px;
    position: relative;
    padding-bottom: 3em;
    min-height: 100%;
}
.entry-header{
    padding: 10px 30px 5px 30px;
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    opacity:0.9;
    min-width:1080px;
}
footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 3em;
    line-height: 3em;
    color: white;
    background-color:black;
    text-align:center;

}
div.clear{
    margin-bottom:10px;
}
h1.menu-top{
    font-weight: 400;
    float:left;
}
h1.menu-top a{
    text-decoration:none;
    color:black;
    font-weight:700;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    background:transparent;
    margin-right: 25px;
}
h1.menu-top a:hover{
    color: #EC7063;
    background:transparent;
}
h2{
    font-size:25px;
}
h3{
    font-size:20px;
}
/********************/
/* MENU DE BUSQUEDA */
/********************/
ul.menu-title-logged{
    float: right;
    font-size: 20px;
    margin-right: 53px;
}
ul.menu-title-logged li{
    display:inline-block;
}
ul.menu-title-logged li a{
    text-decoration:none;
    font-weight:400;
    transition: font-weight 0.5s;
    -webkit-transition: font-weight 0.5s;
}
ul.menu-title-logged li a:hover{
    font-weight:700;
    background:transparent;
    color:black;
}
ul.menu-title-logged li#bio-chef img{
    border-radius:3px;
    border: 1px #eeeeee;
    width: 20px;
    height: 20px;
}
ul.menu-title-logged li#bio-chef ul{
    display:none;
}
ul.menu-title-logged li#bio-chef:hover > ul{
    display:block;
    position:absolute;
}
ul.menu-title-logged li#bio-chef ul li{
    position:relative;
    display:block;
    left:-40px;
    background-color:white;
    opacity:0.9;
    padding:5px 10px;
}
ul.menu-title-logged li form input{
    font-size: 15px;
    padding: 2px 5px 2px 25px;
    border: 1px solid lightgray;
    border-radius: 5px;
    background: url('search-icon.png') no-repeat;
    background-position: 5px 2px;
    background-size: 15px 15px;
    outline: none;
}
