// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.center-form{
    text-align: center;
    margin-top: 60px;
    form{
        .field{
            input[type="text"], input[type="password"]{
                font-size: 25px;
                padding: 5px 10px;
                width: 650px;
                text-align: center;
            }
            textarea{
                font-size: 20px;
                padding: 5px 10px;
                width: 650px;
                margin-top: 0px;
                margin-bottom: 0px;
                height: 400px;
            }
            select#recipe_lunch_option_id{
                border: none;
                font-size: 20px;
                width: 123px;
            }
        }
        .actions{
            input[type="submit"]{
                border: none;
                font-size: 30px;
                padding: 5px 80px;
                border-radius: 5px;
                background-color: #39D4F2;
                outline: none;
                &:active {
                  background-color: #2194A7;
                  outline: none;
                }
            }
        }
        .field_with_errors{
            input[type="text"]{
                font-size: 25px;
                padding: 5px 10px;
                width: 650px;
                text-align: center;
                border: 2px solid #ec7063;
            }
            textarea{
                font-size: 20px;
                padding: 5px 10px;
                width: 650px;
                margin-top: 0px;
                margin-bottom: 0px;
                height: 800px;
                border: 2px solid #ec7063;
            }
        }
        .field-ingrediente{
            margin-bottom: 10px;
            input[type="text"]{
                font-size: 25px;
                padding: 5px 10px;
                width: 350px;
                text-align: center;
                &.text_qty{
                    width: 100px;
                }
            }
            select{
                border: none;
                font-size: 20px;
                width: 123px;
            }
            a{
                font-size:20px;
                color:#ec7063;
                text-decoration:none;
                &:hover{
                    background-color:transparent;
                }
            }
        }
        p{
            a.add_value_form{
                border: none;
                border-radius: 5px;
                background-color: #39D4F2;
                font-size: 18px;
                font-weight: 700;
                padding: 5px 15px;
                outline: none;

                text-decoration:none;
                &:hover{
                    color:black;
                };
                &:active {
                  background-color: #2194A7;
                  outline: none;
                }
            }
            margin-bottom: 15px;
        }
    }
}
//////////////////////////////////////////////////////////////////
//                      SEARCH RECIPE                           //
//////////////////////////////////////////////////////////////////
.left-form{
    text-align: center;
    margin: 0 auto;
    margin-top: 60px;
    width: 1024px;
    .block-results{
        display:inline-block;
        .results{
            // NO RESULTS
            h3.no-results{
                margin-top: 150px;
                font-weight: 400;
                margin-bottom: 50px;
            }
            h3.no-results-sub{
                font-weight: 400;
                margin-bottom: 25px;
            }
            a.publish-recipe{
                font-size: 130%;
                font-weight: 800;
                text-decoration: none;
                background-color: #EC7063;
                padding: 5px 15px;
                border-radius: 5px;
                color: white;
            }
            form{
                input#query{
                    font-size: 2em;
                    padding: 5px 10px 5px 30px;
                    border: 1px solid lightgray;
                    border-radius: 5px;
                    background: url('search-icon.png') no-repeat;
                    background-position: 6px 6px;
                    background-size: 20px 20px;
                    outline: none;
                    margin-bottom: 25px;
                }
            }
            //SEARCH FOUND
            .recipe-excerpt{
                display: block;
                margin: 15px 0;
                height: 100px;
                border-bottom: 1px solid #eee;
                width:600px;
                .photo img{
                    max-width: 100px;
                    float: left;
                    max-height: 100px;
                }
                .info{
                    h3{
                        a{
                            text-decoration:none;
                            &:hover{
                                background-color:transparent;
                                color: #2194A7;
                            };
                        }
                    }
                    text-align: left;
                    margin-left: 12px;
                    width: 400px;
                    display: inline-block;
                    p:last-child{
                        margin-top:5px;
                        margin-left:10px;
                    }
                }
                .rating{
                    display: inline-block;
                    float: right;
                    margin-top: 20px;
                    h2{
                        font-size: 3em;
                        font-weight: 400;
                    }
                }
            }
        }
    }
    .block-filter{
        display:inline-block;
        float:left;
        text-align:left;
        border-right: 1px solid #eee;
        padding-right: 15px;
        .widget{
            padding:10px;
            h4{
                font-size: 120%;
                text-align: center;
            }
            input{
                width: 100%;
                font-size: 15px;
                padding: 5px;
                margin-top: 5px;
            }
        }
    }
}

//////////////////////////////////////////////////////////////////
//                          SHOW RECIPE                         //
//////////////////////////////////////////////////////////////////
.hsContainer {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
//  opacity: 0;
  h2{
    color:black;
  }
}

.hsContent {
  max-width: 850px;
  margin: -150px auto 0 auto;
  display: table-cell;
  vertical-align: middle;
  color: #ebebeb;
  padding: 0 8%;
  text-align: center;
}

.bcg {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}

#slide-1 .bcg {
  background-image: url('bg1.jpg');
}

.comment-block {
  text-align: center;
  background-color: black;
  color: white;
  line-height: 75px;
  font-size: 35px;
  font-style: italic;
  .comment {
    font-size:20px;
    font-weight:200;
    margin: 0 150px;
    display: inline-block;
  }
  .ref {
    position: relative;
    font-size: 15px;
    top: 15px;
    &:before {
      content: "@";
    }
    a {
      text-decoration: none;
      color: #8D9389;
      &:hover {
        color: white;
      }
    }
  }
}

.comment-widget {
  margin-bottom: 15px;
  .comment-even, .comment-odd {
    width: 700px;
    min-height: 120px;
    margin-bottom: 15px;
  }
  .comment-even img, .comment-odd img {
    border-radius: 5px;
    width: 100px;
    height: 100px;
  }
  .comment-even {
    img {
      padding: 0 5px 0 0;
      float: left;
    }
    .comment .comment-header {
      text-align: left;
      span {
        margin-left: 5px;
        color: #8D9389;
      }
    }
  }
  .comment-odd {
    img {
      padding: 0 0 0 5px;
      float: right;
    }
    .comment {
      .comment-header {
        text-align: right;
        span {
          margin-left: 5px;
          color: #8D9389;
        }
      }
      .text {
        text-align: right;
      }
    }
  }
  form.form_comment {
    textarea {
      width: 680px;
      height: 100px;
      font-size: 15px;
      padding: 10px;
      margin-bottom: 5px;
      border-radius: 5px;
      border-color: #8D9389;
      outline: none;
    }
    .actions {
      text-align: right;
      input[type="submit"] {
        border: none;
        border-radius: 5px;
        background-color: #39D4F2;
        font-size: 15px;
        font-weight: 700;
        padding: 5px 15px;
        outline: none;
        &:active {
          background-color: #2194A7;
          outline: none;
        }
      }
    }
  }
}

.content-recipe {
  .left-content {
    float: left;
    display: inline-block;
    margin: 15px 10px;
    min-width: 700px;
    max-width: 700px;
    .ingredients {
      margin-top: 20px;
      ul li {
        line-height: 25px;
        font-size: 18px;
        margin-left: 20px;
      }
    }
    .process {
      margin-top: 20px;
      p {
        margin-left: 20px;
      }
    }
    .rating, .comment-widget {
      margin-top: 20px;
    }
  }
  .right-content {
    display: inline-block;
    margin: 15px 10px;
    width: 300px;
    .chef-info {
      img {
        border-radius: 3px;
        max-width: 80px;
        max-height: 80px;
      }
      .chef-bio {
        display: inline-block;
        h4 {
          font-weight: 800;
        }
      }
    }
    .chef-desc {
      padding-top: 20px;
      border-top: 1px solid #eee;
      margin-top: 20px;
      text-align: left;
    }
    .complement-recipes {
      padding-top: 20px;
      border-top: 1px solid #eee;
      margin-top: 20px;
      .vertical-slider {
        text-align: center;
        a {
          text-decoration: none;
          &:hover {
            text-decoration: none;
            color: #2194A7;
            background-color: transparent;
          }
          img {
            margin: 5px 0 0 0;
            transition: filter 0.5s;
            transition: -webkit-filter 0.5s;
            transition: -moz-filter 0.5s;
            &:hover{
                -webkit-filter: blur(2px);
            }
          }
          p {
            margin: 0 0 10px 0;
            font-size: 20px;
          }
        }
      }
    }
  }
}
