body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}	

#error_explanation {
  	margin-bottom: 20px;
	background-color: #ec7063;
	border-radius: 5px;
	color: white;
	padding: 5px 15px;
	display: inline-block;
  ul li {
    font-size: 15px;
	text-align:left;
	margin-top:5px;
  }
}
