/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.hsContainer {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    opacity: 0;
}
.hsContent {
    max-width: 850px;
    margin: -150px auto 0 auto;
    display: table-cell;
    vertical-align: middle;
    color: #ebebeb;
    padding: 0 8%;
    text-align: center
}
.bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}
#slide-1 .bcg {background-image:url('bg1.jpg')}

.comment-block{
	text-align:center;
	background-color:black;
	color:white;
	line-height:75px;
	font-size:35px;
	font-style:italic;
}

.comment-block .comments{
	margin:0 150px;
	display:inline-block;
	
}
.comment-block .ref{
	position: relative;
	font-size: 15px;
	top: 15px;
}
.comment-block .ref:before{
	content: "@";
}
.comment-block .ref a{
	text-decoration:none;
	color: #8D9389;
}
.comment-block .ref a:hover{
	color: white;
}
.comment-widget{
	margin-bottom: 15px;
}
.comment-widget .comment-even, .comment-widget .comment-odd{
	width: 700px;
	min-height: 120px;
	margin-bottom: 15px;
}
.comment-widget .comment-even img,.comment-widget  .comment-odd img{
	border-radius: 5px;
	width: 100px;
	height: 100px;
}
.comment-widget .comment-even img{
	padding: 0 5px 0 0;
	float:left;
}
.comment-widget .comment-even .comment .comment-header{
	text-align:left;
}
.comment-widget .comment-even .comment .comment-header span{
	margin-left: 5px;
	color: #8D9389;
}
.comment-widget .comment-odd img{
	padding: 0 0 0 5px;
	float:right;
}
.comment-widget .comment-odd .comment .comment-header{
	text-align:right;
}
.comment-widget .comment-odd .comment .comment-header span{
	margin-left: 5px;
	color: #8D9389;
}
.comment-widget .comment-odd .comment .text{
	text-align:right;
}
.comment-widget form.form_comment textarea{
	width: 680px;
	height: 100px;
	font-size: 15px;
	padding: 10px;
	margin-bottom: 5px;
	border-radius: 5px;
	border-color: #8D9389;
	outline: none;
}
.comment-widget form.form_comment .actions{
	text-align:right
}
.comment-widget form.form_comment .actions input[type="submit"]{
	border: none;
	border-radius: 5px;
	background-color: #39D4F2;
	font-size: 15px;
	font-weight: 700;
	padding: 5px 15px;
	outline: none;
}
.comment-widget form.form_comment .actions input[type="submit"]:active{
	background-color: #2194A7;
	outline: none;
}


.content-recipe .left-content{
	float:left;
	display:inline-block;
	margin: 15px 10px;
	min-width: 700px;
	max-width:700px;
}
.content-recipe .left-content .ingredients{
	margin-top: 20px;
}
.content-recipe .left-content .ingredients ul li{		
	line-height: 25px;
	font-size: 18px;
	margin-left:20px;
}
.content-recipe .left-content .process{
	margin-top: 20px;
}
.content-recipe .left-content .process p{
	margin-left: 20px;
}
.content-recipe .left-content .rating{
	margin-top: 20px;
}
.content-recipe .left-content .comment-widget{
	margin-top: 20px;
}
.content-recipe .right-content{
	display:inline-block;
	margin: 15px 10px;
	width: 300px;
}
.content-recipe .right-content .chef-info img{
	border-radius: 3px;
	max-width: 80px;
	max-height: 80px;
}	
.content-recipe .right-content .chef-info .chef-bio{
	display:inline-block;
}
.content-recipe .right-content .chef-info .chef-bio h4{
	font-weight: 800;
}
.content-recipe .right-content .chef-desc{
	padding-top: 20px;
	border-top: 1px solid #eee;
	margin-top: 20px;
	text-align:left;
}
.content-recipe .right-content .complement-recipes{
	padding-top: 20px;
	border-top: 1px solid #eee;
	margin-top: 20px;
}
.content-recipe .right-content .complement-recipes .vertical-slider{
	text-align:center;
}
.content-recipe .right-content .complement-recipes .vertical-slider a{
	text-decoration:none;
}
.content-recipe .right-content .complement-recipes .vertical-slider a:hover{
	text-decoration:none;
	color:#2194A7;
}
.content-recipe .right-content .complement-recipes .vertical-slider a img{
	margin: 5px 0 0 0;
}
.content-recipe .right-content .complement-recipes .vertical-slider a p{
	margin: 0 0 10px 0;
	font-size: 20px;
}