// Place all the styles related to the user_sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
////////////////////////////////////////////////////////////////////
//////////                  LOGIN USERS                 ////////////
////////////////////////////////////////////////////////////////////
.new_user_session .field a{
    text-decoration: none;
    background-color: transparent;
    font-size: 105%;
    &:hover{
        background: transparent;
        color: #EC7063;
    }
}
