// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
////////////////////////////////////////////////////////////////////
//////////                  INDEX USERS                 ////////////
////////////////////////////////////////////////////////////////////
#wrapper {
    width: 980px;
    margin: 0 auto;
    margin-top: 60px;
}
#columns {
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    column-count: 3;
    column-gap: 15px;
    column-fill: auto;
}
.pin {
    display: inline-block;
    background: white;
    border: 2px solid #FAFAFA;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    padding: 15px;
    padding-bottom: 5px;
    background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
    opacity: 1;

    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.pin img {
    width: 100%;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    margin-bottom: 5px;
}

.pin p {
    margin: 0;
}
@media (min-width: 960px) {
    #columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 1100px) {
    #columns {
        -webkit-column-count: 6;
        -moz-column-count: 6;
        column-count: 6;
    }
}

#columns:hover .pin:not(:hover) {
    opacity: 0.4;
}
////////////////////////////////////////////////////////////////////
//////////                  NEW USERS                   ////////////
////////////////////////////////////////////////////////////////////
.new_user .field a{
    text-decoration: none;
    background-color: transparent;
    font-size: 105%;
    &:hover{
        background: transparent;
        color: #EC7063;
    }
}
